body {
  margin: 1.5em;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/revolt-164_6wVEHfI-unsplash.jpg);
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
}

.logo {
  color: white;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
}
header svg {
  cursor: pointer;
  margin-top: -0.6em;
  width: 3em;
  stroke: white;
  fill: white;
}

nav {
  position: fixed;
  right: 0%;
  top: 0%;
  background: white;
  height: 100vh;
  text-transform: uppercase;
  width: 35%;
  z-index: 999;
  transform: translateX(100%);
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5em;
}
nav ul a {
  color: black;
  padding: 0.8em 2em;
  display: block;
  font-size: 0.7rem;
  line-height: 2em;
}
nav ul a:hover {
  background-color: rgb(238, 230, 230);
}
nav .close {
  stroke: black;
  margin-top: -4.5em;
  float: right;
}
nav .close path {
  fill: rgb(173, 169, 169);
}

section.hero {
  color: white;
  height: 90vh;
}
section.hero .subhead {
  font-size: 0.7em;
}
section.hero svg {
  stroke: white;
  fill: white;
  position: absolute;
  width: 2em;
  bottom: 0.5em;
}
section.hero h1 {
  font-size: 1.5em;
  margin-top: 2em;
  line-height: 1.8rem;
}

.more-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 11em;
}
.more-info .title {
  font-weight: bold;
  font-size: 1.25em;
}
.more-info .desc {
  line-height: 1.3rem;
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    font-family: sans-serif;
  }
}
@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  nav {
    transform: translateX(0%);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0%;
  }
  nav ul a {
    color: white;
    padding: 0.5em 1.5em;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 28.5em;
  }
  .logo {
    color: black span;
    color-color: red;
  }
  section.hero {
    color: black;
    height: auto;
    width: 40%;
    margin-bottom: 8em;
  }
  section.hero h1 {
    font-size: 3.5em;
    line-height: 3.2rem;
    margin-top: 1.5em;
  }
  section.hero svg {
    stroke: black;
    fill: black;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;
  }
  .features img {
    width: 25em;
  }
  .features .content {
    text-align: right;
    width: 25em;
  }
  .features.left {
    grid-template-areas: "left right";
  }
  .features.left img {
    grid-area: left;
  }
  .features.left .content {
    text-align: right;
    width: 25em;
    justify-self: left;
  }
}/*# sourceMappingURL=main.css.map */