body {
  margin: 1.5em;
  font-family:sans-serif ;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-img {
   position: absolute;
   top: 0;
   left: 0;
   background: url(../images/revolt-164_6wVEHfI-unsplash.jpg);
   width: 100%;
   height: 100vh;
   z-index: -1;
   background-size: cover;
   background-position-x:20% ;
   background-position-y:20% ;

}

.logo {
  color: white;
  font-weight: bold;
}


header {
  display: flex;
  justify-content: space-between;

  svg{
    cursor: pointer;
    margin-top: -.6em;
    width: 3em;
    stroke: white;
    fill: white;
    
  }
}

nav{ 
position: fixed;
right: 0%;
top: 0%;
background: white;
height: 100vh; 
text-transform: uppercase;
width: 35%;
z-index: 999;

ul{
  list-style-type: none;
  padding: 0;
  margin-top: 5em;


  a {
    color: black;
    padding: .8em  2em;
    display: block;
    font-size: .7rem;
    line-height: 2em;
    
    &:hover { 
      background-color: rgb(238, 230, 230);
    }
  }
}

}
 
section.hero {
  color: white;
  height: 90vh;

  svg {
    stroke: white;
    fill: white;
    position: absolute;
    width: 2em;
    bottom: .5em;
  }

  h1{
    font-size: 1.5em;
    margin-top: 2em;
    line-height: 1.8rem;
  }
     
    
  
}


